.container {
  animation: dropdown-show 0.2s;
  margin-top: 0.25rem;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05),
    0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
  font-weight: 500;
  position: absolute;
  z-index: 1000;
  color: var(--color-gray-700);
  text-align: left;
  font-size: 0.875rem;
  padding: 8px 0px;
  border-radius: 8px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.item {
  font-weight: 500;
  padding: 6px 16px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--color-gray-800);
}

.item[data-active] {
  color: var(--color-primary);
}
.item:hover {
  color: var(--color-primary);
}
