.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 44vh;
}

.title {
  margin-top: 0px;
  color: var(--color-primary);
  font-size: calc(3.575rem);
  font-weight: 500;
  margin-bottom: 0px;
}
