.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.bg_img {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-image: url(../../src/assets/images/about_us_cover.jpeg);
}
.gradient {
  background: linear-gradient(
    180deg,
    rgba(99, 102, 241, 0) 0%,
    rgba(99, 102, 241, 0.6) 120%
  ) !important;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
.title {
  border-bottom: 1px solid #e2e5f1;
  padding-bottom: 1.5rem !important;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 800;
  line-height: 1.3;
  color: var(--color-gray-900);
  margin: 1.5rem 0px;
  max-width: 97%;
  padding: 0px 0.75rem;
}
.who_we_are {
  display: flex;
  flex-direction: column;
  max-width: 97%;
  padding: 0px 0.75rem;
}
.wwa_r,
.wwa_l {
  flex-shrink: 0;
  flex: auto;
  padding: 0px 0.75rem;
  line-height: 1.8;
}

.how_we_work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 97%;
  padding: 0px 0.75rem;
}

.hwa_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hwa_sr {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-primary);
}

.hwa_sr > span:first-child {
  opacity: 0.3;
}

.hwa_title {
  color: var(--color-gray-900);
  font-weight: 800;
  font-size: 1.5rem;
}

.hwa_description {
  margin-top: 8px;
}

.testimonial_container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  max-width: 97%;
  padding: 0px 0.75rem;
}

.clutch_o_card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #0b0f19 !important;
  border-radius: 0.5rem;
}
.tc_count {
  color: var(--color-primary);
  margin-bottom: 0.25rem;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 800;
  line-height: 1.3;
  margin-top: 0;
}
.tc_served {
  color: var(--color-white);
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 800;
  line-height: 1.3;
}

.clutch_c {
  background-color: #3e4265;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.cc_l,
.cc_r {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cc_l > div:first-child {
  font-size: 0.75rem;
  color: var(--color-white);
  text-transform: uppercase;
}
.cc_r > div:first-child {
  height: 19.2px;
}
.cc_r > div:last-child {
  opacity: 0.7;
  font-size: 0.75rem;
  height: 28px;
  color: var(--color-white);
}
.stars {
  display: flex;
  gap: 2px;
}

.testimonial_card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%),
    0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%) !important;
  padding: 1.5rem !important;
  background-color: var(--color-white);
  border-radius: 8px;
  margin-top: 2rem;
  gap: 2rem;
  background-clip: border-box;
}
.tc_c {
  display: flex;
  justify-content: space-between;
}
.quote_icon {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(99 102 241 / 90%) !important;
}
.quote_icon svg {
  border-radius: 8px;
}
.nav_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nav_icons div {
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  cursor: pointer;
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06),
    0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);
}
.nav_icons div:hover {
  background-color: var(--color-primary);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
.nav_icons path {
  stroke: var(--color-gray-900);
}

.stroke_white path {
  stroke: var(--color-white);
}

.testimony {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateZ(0);
}

.testimony > div:first-child {
  font-size: 1.125rem;
}

.testimony > h5 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.125rem !important;
  color: var(--color-gray-900);
  margin-top: 0;
  margin-bottom: 0;
}

.job_opening_section,
.team_section {
  margin-top: 4rem;
}

.job_opening_bg {
  background-color: unset;
}
.job_opening_bg > img {
  width: 100%;
  border-radius: 8px;
}

.team_title {
  padding-bottom: 1.5rem !important;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 800;
  line-height: 1.3;
  color: var(--color-gray-900);
  margin: 1.5rem 0px;
  text-align: center;
}

.team_members {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
}

@media screen and (min-width: 768px) {
  .bg_img {
    height: 550px;
  }
  .who_we_are {
    flex-direction: row;
    margin: 0px -0.75rem;
  }
  .how_we_work {
    flex-direction: row;
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .wwa_r,
  .wwa_l {
    width: 100%;
    max-width: 100%;
    flex: auto;
    width: 50%;
  }
  .testimonial_container {
    flex-direction: row;
  }
  .clutch_o_card {
    flex: 0 0 auto;
    width: calc(41.66666667% - 3.75rem);
    margin-right: 0.75rem;
  }
  .testimonial_card {
    flex: 0 0 auto;
    width: calc(58.33333333% - 3.75rem);
    margin-left: 0.75rem;
    margin-top: 0px;
  }

  .team_members {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 992px) {
  .team_members {
    grid-template-columns: auto auto auto auto;
  }
}
