.container {
  display: flex;
  flex-direction: column;
}

.bg {
  background: radial-gradient(
    144.3% 173.7% at 71.41% 94.26%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 32.49%,
    rgba(241, 244, 253, 0.07) 82.52%
  );
}

.tc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.title {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 0px;
  color: var(--color-gray-900);
  text-align: center;
  margin-top: 0px;
  background: #6366f1;
  background: linear-gradient(to right, #6366f1 0%, #000000 50%, #6366f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 0.25rem;
  padding-bottom: 3rem;
  color: var(--color-gray-700);
  text-align: center;
}

.wwo {
  display: flex;
  flex-direction: column;
  padding: 3rem 0px;
}

.wwo_title {
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 0;
  font-weight: 800;
  color: var(--color-gray-900);
  text-align: center;
}

.our_solution {
  padding: 3rem 0px;
  border-top: 1px solid var(--color-gray-300);
}

.our_solution > * {
  max-width: 97%;
  padding: 0px 0.75rem;
}

.our_solution > ul {
  padding: 0px 1.5rem !important;
}

.os_title {
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 0;
  font-weight: 800;
  color: var(--color-gray-900);
  text-align: left;
}

@media screen and (min-width: 728px) {
  .tc {
    padding: 6rem;
  }
  .description {
    width: 80%;
  }
}
